openai
fastapi
uvicorn
python-dotenv
requests
bs4
duckduckgo-search
httpx
PyPDF2
pdfplumber
supabase
pinecone
python-multipart
langchain
langchain-community
tiktoken
youtube-transcript-api
langchain_openai>=0.1.0
